<!-- chat/templates/chat/index.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
</head>
<body>
    What chat room would you like to enter?<br>
    <input id="group_id-input" type="text" size="100"><br>
    <input id="group_id-submit" type="button" value="Enter">

    <script>
        document.querySelector('#group_id-input').focus();
        document.querySelector('#group_id-input').onkeyup = function(e) {
            if (e.key === 'Enter') {  // enter, return
                document.querySelector('#group_id-submit').click();
            }
        };

        document.querySelector('#group_id-submit').onclick = function(e) {
            var roomName = document.querySelector('#group_id-input').value;
            window.location.pathname = '/chat/' + roomName + '/';
        };
    </script>
</body>
</html>